<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:context/applicationContext-core.xml"/>
    <import resource="classpath:context/applicationContext-demoda.xml"/>

    <bean id="cartDtoConverter" class="com.es.phoneshop.web.dto.converter.CartDtoConverter"/>
    <bean id="cartItemDtoConverter" class="com.es.phoneshop.web.dto.converter.CartItemDtoConverter"/>
    <bean id="orderDtoConverter" class="com.es.phoneshop.web.dto.converter.OrderDtoConverter"/>
    <bean id="orderItemDtoConverter" class="com.es.phoneshop.web.dto.converter.OrderItemDtoConverter"/>
    <bean id="quantityValidator" class="com.es.phoneshop.web.validation.QuantityValidator"/>
    <bean id="quantityChecker" class="com.es.phoneshop.web.validation.QuantityChecker"/>
    <bean id="quantityUpdateValidator" class="com.es.phoneshop.web.validation.QuantityUpdateValidator"/>
    <bean id="orderDtoValidator" class="com.es.phoneshop.web.validation.OrderDtoValidator"/>
    <bean id="quickOrderValidator" class="com.es.phoneshop.web.validation.QuickOrderValidator"/>
</beans>